<!DOCTYPE html>
<html>
  <head>


    <title>Twitter clap</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

  
      <% if user_signed_in? %>
        <%= link_to "Twitter Clap", '#', id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right" style="color:red;">
               <%= label_tag("Welcome") %>
               &nbsp;
               &nbsp;
               &nbsp;
               <%= current_user.name %>
              <li><%= link_to "Logout", destroy_user_session_path,:method => :delete %></li>
             <li><% if current_user.role == "user" %>
                <%= link_to "Delete", user_path(current_user.id),
                     data: { confirm: "Are you sure?" },
                     method: :delete %>
                     <% else %>
                     <% if current_user.role == "admin" %>
                <%= link_to "Delete", tweet_path(current_user.id),
                     data: { confirm: "Are you sure?" },
                     method: :delete %>
              <% end %> </li> 
            </ul>
          </nav>
        <% else %>
        <%= link_to "Twitter Clap", '#', id: "logo" %>
          <nav>

          </nav>
        <% end %>

      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
